body {
  font-family: "geomanistregular", serif;
  background-color: #eceff4;
  margin: 0;
}

.container {
  margin: auto;
  display: grid;
  grid-gap: 20px 20px;
  max-width: 1200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "z z z y";
}

.container-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "h h h h h h" "a a a b b b" "c c c c c c" "d d e e f f" "g g g g g g";
}

.col-left {
  grid-area: z;
}

.col-right {
  grid-area: y;
}

.top-left {
  grid-area: a;
  border-top: solid #e83a55 6px;
}

.top-right {
  grid-area: b;
  border-top: solid #00d89f 6px;
}

.middle-top {
  grid-area: c;
  border-top: solid #e40615 6px;
}

.middle-down-left {
  grid-area: d;
  border-top: solid #352592 6px;
}

.middle-down-middle {
  grid-area: e;
  border-top: solid #66b6f1 6px;
}

.middle-down-right {
  grid-area: f;
  border-top: solid #d552f0 6px;
}

.down {
  grid-area: g;
  border-top: solid #e83a55 6px;
  display: flex;
}

.carousel {
  grid-area: h;
  position: relative;
  padding-bottom: 10px;
}

.placeholder-block {
  height: 400px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 0.8%;
}

/* HEADER */

header {
  height: 48px;
  line-height: 48px;
  background-color: #e83a55;
  display: flex;
  justify-content: space-between;
  padding: 0 19%;
}

header .left-header {
  width: 49%;
  font-size: 24px;
  color: white;
  display: flex;
}

nav ul li a > i {
  margin-left: 8px;
}

.searchbar i {
  position: absolute;
  margin-top: 16px;
  color: white;
  top: 0;
  right: 2%;
}

header .left-header i {
  line-height: 48px;
}

.middle-top span {
  color: #5b5b5b;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

header .left-header span {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

header .left-header p {
  padding-left: 0;
  padding-right: 0;
  margin: 0 2%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

header .right-header {
  display: flex;
}

nav > a {
  display: block;
  line-height: 90px;
  padding: 0 25px;
  font-size: 24px;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  line-height: 90px;
  display: block;
  background-color: white;
  transition: background-color 0.2s linear;
  padding: 0 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
}

.btn-rs-fixed-left a {
  padding: 10px 15px;
  text-align: center;
}

header .right-header a {
  color: white;
  background-color: #ee4e6a;
  text-align: center;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 8px;
  line-height: 32px;
  border-radius: 3px;
  margin-right: 2%;
}

.searchbar {
  display: inline-block;
  position: relative;
  width: 128px;
  margin-left: auto;
}

.searchbar > input {
  color: white;
  background-color: #ee4e6a;
  border: none;
  height: 32px;
  border-radius: 3px;
  padding: 0 28px 0 5px;
  width: 100%;
}

.searchbar input::placeholder {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: white;
  padding: 0 24px;
  align-items: center;
  height: 90px;
  position: relative;
}

nav img {
  height: 48px;
}

nav ul {
  display: inline-flex;
  margin: 0;
  list-style: none;
}

nav .dropdown a {
  background-color: black;
  color: white;
}

footer .right-footer a {
  color: rgba(255, 255, 255, 0.5);
  padding-left: 0;
  padding-right: 0;
  margin: 0 8px;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

nav .dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: -4.2%;
  z-index: 1;
  margin-top: 90px;
  width: 100%;
  text-align: center;
}

nav .dropdown ul {
  display: inline-block;
  width: 100%;
}

.btn-rs-fixed-left a:first-child {
  border-top-right-radius: 5px;
}

.btn-rs-fixed-left a:last-child {
  border-bottom-right-radius: 5px;
}

nav .dropdown a:hover {
  background-color: rgb(17, 17, 17);
}

nav .dropdown.show {
  display: block;
}

/* FIXED LEFT BUTTON SOCIAL NETWORKS */

.btn-rs-fixed-left {
  position: fixed;
  display: grid;
  top: 200px;
  left: 0;
  z-index: 5;
}

.btn-rs-fixed-left a.facebook {
  background-color: #3a5799;
  color: white;
}

.btn-rs-fixed-left a.twitter {
  background-color: #00abf0;
  color: white;
}

.btn-rs-fixed-left a.google-plus {
  background-color: #df4a32;
  color: white;
}

.btn-rs-fixed-left a.linkedin {
  background-color: #127bb5;
  color: white;
}

.btn-rs-fixed-left a.other {
  background-color: #dedede;
  color: #797979;
  padding: 8px 15px;
}

h2 {
  text-transform: uppercase;
  padding: 0 4% 0 4%;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

.carousel img {
  width: 100%;
  border-radius: 0.8%;
}

.banner {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  bottom: 0.9em;
  color: #fff;
  border-radius: 0.8%;
}

.commentaire-banner {
  color: fff;
  font-size: 0.8em;
  padding-left: 4%;
}

.btn-banner {
  position: absolute;
  top: 0;
  right: 1em;
}

.active-btn {
  border: none;
  background-color: #fff;
  width: 20px;
  height: 6px;
  border-radius: 35%;
  padding: 0;
  cursor: pointer;
}

.other-btn {
  border: none;
  background-color: #acadb1;
  width: 10px;
  height: 6px;
  border-radius: 35%;
  padding: 0;
  cursor: pointer;
}

.top-left h2 {
  color: #e83a55;
}

.top-right h2 {
  color: #00d89f;
}

.middle-down-left h2 {
  color: #352592;
}

.middle-down-middle h2 {
  color: #66b6f1;
}

.middle-down-right h2 {
  color: #d552f0;
}

.middle-top h2 {
  color: #e40615;
}

.middle-top-article {
  border-top: solid #e5e5e5 2px;
  border-radius: 0.8%;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.down img {
  width: 96%;
}

.middle-top-article img {
  margin: auto 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.widget {
  margin-bottom: 10px;
  margin-right: 0;
  background-color: #fff;
  border-radius: 0.8%;
}

.h2-widgets {
  margin: 0;
  padding: 4%;
  color: #fff;
  background-color: #3f5062;
  font-size: 1em;
}

.petition {
  width: 100%;
}

#recherche {
  border: solid #fff 1px;
  border-radius: 5%;
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: #bdbec2;
  font-size: 1.2em;
  font-weight: bold;
  padding: 4%;
}

.article {
  text-align: justify;
  background-color: #fff;
  border-radius: 0.5%;
}

.down h2 {
  color: #e83a55;
}

.international h3 {
  text-transform: uppercase;
  color: #7b62e4;
}

.social h3 {
  text-transform: uppercase;
  color: #e83a55;
}

.societe h3 {
  text-transform: uppercase;
  color: #f9e25e;
}

.art-down button {
  border: solid #e5e5e5 1px;
  border-radius: 5%;
  width: 150px;
  height: 40px;
  background-color: #e5e5e5;
  color: #645f59;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.pag {
  border: solid #e5e5e5 1px;
  border-radius: 15%;
  width: 30px;
  height: 30px;
  background-color: #e5e5e5;
  color: #645f59;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
}

.numb1 {
  background-color: #e83a55;
  color: #fff;
}

.contenuLi {
  padding: 0 4% 0 4%;
}

.top {
  padding-left: 4%;
}

.sub {
  color: grey;
  font-size: 1.2em;
  padding: 0 4% 0 4%;
}

.listeSansPuces {
  list-style: none;
  padding-left: 0;
}

.listeSansPuces li {
  border-top: solid #e5e5e5 2px;
  display: flex;
  align-items: center;
  padding: 4% 0 4% 4%;
}

#art1down {
  border-top: none;
  padding-top: 0;
}

#art1last {
  border-top: none;
  padding-top: 0;
}

#art1suiv {
  border-top: none;
  padding-top: 0;
}

.commentaire {
  color: grey;
  font-size: 0.8em;
}

.imgTop {
  width: 100%;
}

.imgIcone {
  width: 50px;
  height: 50px;
}

.pagination {
  text-align: right;
  border-top: solid #e5e5e5 2px;
  padding: 1.5% 1.5% 1.5% 0;
}

/* FOOTER */

footer {
  background-color: #181818;
  margin-top: 20px;
  height: 48px;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: right;
  line-height: 48px;
  margin: 0;
}

footer ul li {
  margin: 0 8px;
  list-style: none;
}

footer ul a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

footer ul a > i {
  color: white;
}

/* RESPONSIVE */

/* VERSION MOBILE */

@media only screen and (max-width: 600px) {
  .container, header, footer {
    padding: 0 5%;
  }

  .container {
    grid-template-areas: "z z z z" "y y y y";
  }

  .container-content {
    grid-template-areas: "h h h h h h" "a a a a a a" "b b b b b b" "c c c c c c" "d d d d d d" "e e e e e e" "f f f f f f" "g g g g g g";
  }

  .hide-on-tablet, .hide-on-tablet-and-down, .hide-on-mobile, .btn-rs-fixed-left {
    display: none;
  }

  nav .dropdown ul {
    width: 100%;
    margin-left: -7%;
  }

  .listeSansPuces .art-down li {
    display: block;
  }

  footer {
    height: auto;
  }

  footer ul {
    margin-right: 15%;
  }

  .right-footer {
    text-align: center;
    display: block;
  }

  .icons {
    display: flex;
    margin-right: 29%;
  }

  footer ul li {
    margin: 0 4px;
  }

  footer ul a {
    font-size: 15px;
  }
}

/* VERSION TABLETTE */

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .container, header, footer {
    padding: 0 5%;
  }

  .container {
    grid-template-areas: "z z z z" "y y y y";
  }

  .container-content {
    grid-template-areas: "h h h h h h" "a a a b b b" "c c c c c c" "d d e e f f" "g g g g g g";
  }

  .col-right {
    margin: 0 30%;
  }
  
  .hide-on-tablet, .hide-on-tablet-and-down, .show-on-mobile, .btn-rs-fixed-left {
    display: none;
  }

  nav {
    justify-content: center;
  }
}

/* VERSION BUREAU */

@media only screen and (min-width: 1281px) {
  .show-on-mobile, .show-on-tablet, .show-on-tablet-and-down {
    display: none;
  }

  .middle-top-article {
    flex-direction: row;
  }

  .middle-top-article img{
    max-width: 95%;
  }

  .right-footer {
    margin-right: 19%;
  }
}