@font-face {
  font-family: "geomanistregular";
  src: url("geomanist-regular-webfont.eot");
  src:
    url("geomanist-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("geomanist-regular-webfont.woff2") format("woff2"),
    url("geomanist-regular-webfont.woff") format("woff"),
    url("geomanist-regular-webfont.ttf") format("truetype"),
    url("geomanist-regular-webfont.svg#geomanistregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geomanistitalic";
  src: url("geomanist-regular-italic-webfont.eot");
  src:
    url("geomanist-regular-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("geomanist-regular-italic-webfont.woff2") format("woff2"),
    url("geomanist-regular-italic-webfont.woff") format("woff"),
    url("geomanist-regular-italic-webfont.ttf") format("truetype"),
    url("geomanist-regular-italic-webfont.svg#geomanistitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
